:root {
  --md-default-bg-color: #f5f5f0;
  --md-text-color: #333333;
  --md-code-bg-color: #e8e8e0;
}

[data-md-color-scheme="default"] {
  --md-typeset-a-color: #2a7f62;
}

.highlight .err { background-color: transparent !important }
